<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="left-side">
        <a routerLink="/home">Pokémon</a>
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
        <a routerLink="/details" routerLinkActive="active-link">Details</a>
        <a routerLink="/product-list" routerLinkActive="active-link">Product list</a>
        <a routerLink="/create-product" *ngIf="isAdmin" routerLinkActive="active-link">Create product</a>

      </div>

      <div class="right-side">
        <app-pokemon-search></app-pokemon-search>
        <mat-slide-toggle (toggleChange)="onToggleChange()"></mat-slide-toggle>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
