mat-card{
  max-height: 230px;
  max-width: 230px;
  padding: 0;
  min-height: 200px;
  min-width: 200px;
}

mat-card img{
  max-width: 100%;
  margin: 0;
  max-height: 150px;

}

mat-card-title {
  padding: 10px;
  margin-top: 10px;
}
