<div class="top-section">
  <div></div>
  <div class="types-container">
    <span *ngFor="let type of pokemon.types">{{ type.type.name }}</span>
  </div>
  <div class="pokemon-id">#1</div>
</div>

<div class="pokemon-stats">
  <img [src]="pokemon.sprites.front_shiny" alt="pokemon-picture" />
  <div class="stats">
    <ng-container *ngFor="let stat of pokemon.stats">
      <span>{{ stat.stat.name }} : </span>
      <div class="skill-points">
        <div class="points-filler" [style]="'width:' + stat.base_stat + '%'">
          <span class="points-value"> {{ stat.base_stat }}  </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
